.container {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    margin: 20px;
}
.item_card {
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 18%;
    font-family: 'Montserrat', sans-serif;
}
.item_info {
    text-align: center;
    color: #1f3a31;
    font-size: 15px;
}
.text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
p {
    color: #1f3a31;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;

}
.text h3 {
    text-transform: uppercase;
    font-size: 22px;
    color: #1f3a31;
    font-family: 'Montserrat', sans-serif;

}
.text h1 {
    color: #f5f5f5;
    font-size: 35px;
    border: 1px solid #1f3a31;
    background-color: #1f3a31;
    padding: 20px;
    border-radius: 12px;
}
.imgItem {
    border-radius: 50%;
}
body {
    background-color: #C3D8C7;
}
.btn_search {
    margin: 10px;
    padding: 8px;
    border-radius: 12px;
    border: none;
    background-color: #1f3a31;
    color: white;
    font-family: 'Montserrat', sans-serif;

}
.btn_more {
    border: none;
    background: none;
    color: #1f3a31;
    font-weight: bolder;
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
}
nav {
    display: flex;
    justify-content: center;
    border-bottom: #1f3a31 5px double;
}
.link {
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    color: #1f3a31;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.about {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 60%;
    margin-left: 20%;
    color: #1f3a31;
    font-family: 'Montserrat', sans-serif;
}
.about h2 {
    font-size: 25px;
}
.about p {
    line-height: 28px;
    font-size: 16px;
    text-align: justify;
}
.contact {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 60%;
    margin-left: 20%;
    color: #1f3a31;
    font-family: 'Montserrat', sans-serif;
}
.contact h2 {
    font-size: 25px;
}
.contact p {
    line-height: 8px;
    margin-bottom: 5px;
    font-size: 16px;
}
a {
    text-decoration: none;
    color: #1f3a31;
}
.contact h4 {
    font-size: 18px;
    margin-bottom: 10px;
}
.btnArrow {
    background: none;
    border: none;
    font-size: 40px;
    color: #1f3a31;
    font-family: 'Montserrat', sans-serif;
}